<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IncognitoLoginCredentials</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>servlet.CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserActivity</display-name>
    <servlet-name>CheckUserActivity</servlet-name>
    <servlet-class>servlet.CheckUserActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserActivity</servlet-name>
    <url-pattern>/CheckUserActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSecurityQue</display-name>
    <servlet-name>CheckSecurityQue</servlet-name>
    <servlet-class>servlet.CheckSecurityQue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSecurityQue</servlet-name>
    <url-pattern>/CheckSecurityQue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUser</display-name>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>servlet.SaveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
</web-app>